OnVac.Biz/Service References/IntegrazioneReazioniAvverse/ReazioniAvverse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReazioniAvverse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReazioniAvverse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vaccini106.onit.local/On.Health/On.AssistNet/ReazioniAvverseServizio/ReazioniAvverse.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ParInSegnalazione">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApiToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlServizio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlServizioGetIdScheda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XmlPost" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParInSegnalazione" nillable="true" type="tns:ParInSegnalazione" />
  <xs:complexType name="response">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="errors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vigifarmacoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xmlreturn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="response" nillable="true" type="tns:response" />
  <xs:complexType name="ApiKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApikeyValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlServizio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiKey" nillable="true" type="tns:ApiKey" />
  <xs:complexType name="ParInCreaXml">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApiToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceOperatore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchedaAvversa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlServizio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParInCreaXml" nillable="true" type="tns:ParInCreaXml" />
</xs:schema>