OnVac.BIZ/Service References/IntegrazioneReazioniAvverse/ReazioniAvverse3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vaccini106.onit.local/On.Health/On.AssistNet/ReazioniAvverseServizio/ReazioniAvverse.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReazioniAvverse" />
  <xs:element name="CreaSegnalazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReazioniAvverse" minOccurs="0" name="parametriInput" nillable="true" type="q1:ParInSegnalazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaSegnalazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReazioniAvverse" minOccurs="0" name="CreaSegnalazioneResult" nillable="true" type="q2:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdScheda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReazioniAvverse" minOccurs="0" name="apikey" nillable="true" type="q3:ApiKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdSchedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdSchedaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaXmlda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReazioniAvverse" minOccurs="0" name="parametri" nillable="true" type="q4:ParInCreaXml" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaXmldaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreaXmldaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>