OnVac.Biz/Service References/FlussoACN/RicezioneFlussoACN1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4042/OnVac.IntegrazioneVaccinazioni/RicezioneFlussoACN.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnVac.IntegrazioneVaccinazioni" />
  <xs:element name="InserimentoAssociazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OnVac.IntegrazioneVaccinazioni" minOccurs="0" name="command" nillable="true" type="q1:RicezioneFlussoACNCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserimentoAssociazioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OnVac.IntegrazioneVaccinazioni" minOccurs="0" name="InserimentoAssociazioniResult" nillable="true" type="q2:RicezioneFlussoACNResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinviaAssociazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMessaggioPadre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinviaAssociazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OnVac.IntegrazioneVaccinazioni" minOccurs="0" name="ReinviaAssociazioneResult" nillable="true" type="q3:RicezioneFlussoACNResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>