OnVac.Biz/Service References/FlussoACN/RicezioneFlussoACN2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OnVac.IntegrazioneVaccinazioni" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OnVac.IntegrazioneVaccinazioni" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RicezioneFlussoACNCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="flussoACN" nillable="true" type="tns:FlussoACN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RicezioneFlussoACNCommand" nillable="true" type="tns:RicezioneFlussoACNCommand" />
  <xs:complexType name="FlussoACN">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampagnaVaccinale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceAIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceAssociazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CondizioneDiRischio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEsecuzione" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescrizioneAttivita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsecutoreVaccinazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMessaggio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroLotto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceRequest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SitoInoculazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoOperazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPagamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViaSomministrazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codicePaziente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datiCarePlane" nillable="true" type="tns:DatiCarePlane" />
      <xs:element minOccurs="0" name="expirationDateLotto" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idAcn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaCompletaVaccini" nillable="true" type="tns:ArrayOfVaccini" />
      <xs:element minOccurs="0" name="listaEsenzioni" nillable="true" type="tns:ArrayOfEsenzione" />
      <xs:element minOccurs="0" name="listaVaccini" nillable="true" type="tns:ArrayOfVaccino" />
      <xs:element minOccurs="0" name="statoCarePlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statoImmunization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vaccNonEseguita" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlussoACN" nillable="true" type="tns:FlussoACN" />
  <xs:complexType name="DatiCarePlane">
    <xs:sequence>
      <xs:element minOccurs="0" name="CondizioneDiRischio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescrizioneAttivita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPagamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ulss" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statoCarePlan" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatiCarePlane" nillable="true" type="tns:DatiCarePlane" />
  <xs:complexType name="ArrayOfVaccini">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vaccini" nillable="true" type="tns:Vaccini" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVaccini" nillable="true" type="tns:ArrayOfVaccini" />
  <xs:complexType name="Vaccini">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampagnaVaccinale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceAIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceAssociazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEsecuzione" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EsecutoreVaccinazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroLotto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SitoInoculazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoOperazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViaSomministrazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codicePaziente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expirationDateLotto" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idAcn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statoImmunization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vaccNonEseguita" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vaccini" nillable="true" type="tns:Vaccini" />
  <xs:complexType name="ArrayOfEsenzione">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Esenzione" nillable="true" type="tns:Esenzione" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEsenzione" nillable="true" type="tns:ArrayOfEsenzione" />
  <xs:complexType name="Esenzione">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAcn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Esenzione" nillable="true" type="tns:Esenzione" />
  <xs:complexType name="ArrayOfVaccino">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vaccino" nillable="true" type="tns:Vaccino" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVaccino" nillable="true" type="tns:ArrayOfVaccino" />
  <xs:complexType name="Vaccino">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAcn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vaccino" nillable="true" type="tns:Vaccino" />
  <xs:complexType name="RicezioneFlussoACNResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RicezioneFlussoACNResult" nillable="true" type="tns:RicezioneFlussoACNResult" />
</xs:schema>