OnVac.BIZ/Service References/FlussoACN/RicezioneFlussoACN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RicezioneFlussoACN" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4042/OnVac.IntegrazioneVaccinazioni/RicezioneFlussoACN.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4042/OnVac.IntegrazioneVaccinazioni/RicezioneFlussoACN.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4042/OnVac.IntegrazioneVaccinazioni/RicezioneFlussoACN.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnVac.IntegrazioneVaccinazioni" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRicezioneFlussoACN_InserimentoAssociazioni_InputMessage">
    <wsdl:part name="parameters" element="tns:InserimentoAssociazioni" />
  </wsdl:message>
  <wsdl:message name="IRicezioneFlussoACN_InserimentoAssociazioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserimentoAssociazioniResponse" />
  </wsdl:message>
  <wsdl:message name="IRicezioneFlussoACN_ReinviaAssociazione_InputMessage">
    <wsdl:part name="parameters" element="tns:ReinviaAssociazione" />
  </wsdl:message>
  <wsdl:message name="IRicezioneFlussoACN_ReinviaAssociazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReinviaAssociazioneResponse" />
  </wsdl:message>
  <wsdl:portType name="IRicezioneFlussoACN">
    <wsdl:operation name="InserimentoAssociazioni">
      <wsdl:input wsaw:Action="http://tempuri.org/IRicezioneFlussoACN/InserimentoAssociazioni" message="tns:IRicezioneFlussoACN_InserimentoAssociazioni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRicezioneFlussoACN/InserimentoAssociazioniResponse" message="tns:IRicezioneFlussoACN_InserimentoAssociazioni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReinviaAssociazione">
      <wsdl:input wsaw:Action="http://tempuri.org/IRicezioneFlussoACN/ReinviaAssociazione" message="tns:IRicezioneFlussoACN_ReinviaAssociazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRicezioneFlussoACN/ReinviaAssociazioneResponse" message="tns:IRicezioneFlussoACN_ReinviaAssociazione_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRicezioneFlussoACN" type="tns:IRicezioneFlussoACN">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserimentoAssociazioni">
      <soap:operation soapAction="http://tempuri.org/IRicezioneFlussoACN/InserimentoAssociazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReinviaAssociazione">
      <soap:operation soapAction="http://tempuri.org/IRicezioneFlussoACN/ReinviaAssociazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RicezioneFlussoACN">
    <wsdl:port name="BasicHttpBinding_IRicezioneFlussoACN" binding="tns:BasicHttpBinding_IRicezioneFlussoACN">
      <soap:address location="http://localhost:4042/OnVac.IntegrazioneVaccinazioni/RicezioneFlussoACN.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>