OnVac.Biz/Service References/FSErIndicizzazione/DocR82.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:ns1="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.7.151:8076/services/DocR?xsd=3" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" />
  <xs:element name="RegistryError">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="codeContext" type="xs:string" use="required" />
          <xs:attribute name="errorCode" type="xs:string" use="required" />
          <xs:attribute name="severity" type="xs:string" />
          <xs:attribute name="location" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistryErrorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tns:RegistryError" />
      </xs:sequence>
      <xs:attribute name="highestSeverity" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistryRequest" type="tns:RegistryRequestType" />
  <xs:element name="RegistryResponse" type="tns:RegistryResponseType" />
  <xs:complexType name="RegistryResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="ResponseSlotList" type="ns1:SlotListType" />
      <xs:element minOccurs="0" ref="tns:RegistryErrorList" />
    </xs:sequence>
    <xs:attribute name="status" type="xs:string" use="required" />
    <xs:attribute name="requestId" type="xs:anyURI" />
  </xs:complexType>
  <xs:complexType name="RegistryRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="RequestSlotList" type="ns1:SlotListType" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:anyURI" />
    <xs:attribute name="comment" type="xs:string" />
  </xs:complexType>
</xs:schema>