OnVac.Biz/Service References/FSErIndicizzazione/DocR84.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:ns2="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.7.151:8076/services/DocR?xsd=3" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" />
  <xs:import schemaLocation="http://172.16.7.151:8076/services/DocR?xsd=2" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" />
  <xs:element name="AcceptObjectsRequest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="ns2:RegistryRequestType">
          <xs:sequence />
          <xs:attribute name="correlationId" type="xs:anyURI" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveObjectsRequest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="ns2:RegistryRequestType">
          <xs:sequence>
            <xs:element minOccurs="0" form="qualified" name="AdhocQuery" type="ns1:AdhocQueryType" />
            <xs:element minOccurs="0" form="qualified" name="ObjectRefList" type="ns1:ObjectRefListType" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeprecateObjectsRequest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="ns2:RegistryRequestType">
          <xs:sequence>
            <xs:element minOccurs="0" form="qualified" name="AdhocQuery" type="ns1:AdhocQueryType" />
            <xs:element minOccurs="0" form="qualified" name="ObjectRefList" type="ns1:ObjectRefListType" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelocateObjectsRequest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="ns2:RegistryRequestType">
          <xs:sequence>
            <xs:element form="qualified" name="AdhocQuery" type="ns1:AdhocQueryType" />
            <xs:element form="qualified" name="SourceRegistry" type="ns1:ObjectRefType" />
            <xs:element form="qualified" name="DestinationRegistry" type="ns1:ObjectRefType" />
            <xs:element form="qualified" name="OwnerAtSource" type="ns1:ObjectRefType" />
            <xs:element form="qualified" name="OwnerAtDestination" type="ns1:ObjectRefType" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveObjectsRequest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="ns2:RegistryRequestType">
          <xs:sequence>
            <xs:element minOccurs="0" form="qualified" name="AdhocQuery" type="ns1:AdhocQueryType" />
            <xs:element minOccurs="0" form="qualified" name="ObjectRefList" type="ns1:ObjectRefListType" />
          </xs:sequence>
          <xs:attribute name="deletionScope" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitObjectsRequest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="ns2:RegistryRequestType">
          <xs:sequence>
            <xs:element form="qualified" name="RegistryObjectList" type="ns1:RegistryObjectListType" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndeprecateObjectsRequest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="ns2:RegistryRequestType">
          <xs:sequence>
            <xs:element minOccurs="0" form="qualified" name="AdhocQuery" type="ns1:AdhocQueryType" />
            <xs:element minOccurs="0" form="qualified" name="ObjectRefList" type="ns1:ObjectRefListType" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateObjectsRequest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="ns2:RegistryRequestType">
          <xs:sequence>
            <xs:element form="qualified" name="RegistryObjectList" type="ns1:RegistryObjectListType" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>